.btn {
  &--white {
    @include style-button(
      $bd-1 solid $color-blue-2,
      $pd-3,
      $pd-4,
      $bd-2,
      transparent
    );
    @include style-text($fs-1, $fw-2, $color-blue-2);
    box-shadow: 0 4px 5px $color-blue-3;
    transition: all 0.5s;

    &:hover {
      background-color: $color-blue-2;
      color: $color-white-3;
    }
  }

  &--blue {
    @include style-button(
      0,
      $pd-3 + $bd-1,
      $pd-4 + $bd-1,
      $bd-2,
      linear-gradient(120deg, $color-blue-4, $color-blue-2)
    );
    @include style-text($fs-1, $fw-2, $color-white-1);
    opacity: 1;
    transition: all 0.5s;

    &:hover {
      opacity: 0.75;
      color: $color-white-3;
    }
  }
}
